
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Django specific
*.log
*.pot
*.pyc
*.mo
# db.sqlite3
# *.sqlite3
/media
/staticfiles
/static_root
.DS_Store

# Environment variables
.env
.env.*

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# Pycharm
.idea/

# Migrations (optional — keep if you want to track these)
**/migrations/*.pyc
**/migrations/__pycache__/

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml

# MyPy
.mypy_cache/

# Others
*.bak
*.swp
*.swo
