{% load static %}

{% firstof form.email.errors|yesno:"ring-red-500 ring-2 form-input, form-input" as email_error_class %}
{% firstof form.email.errors|yesno:"ring-red-500 ring-2 form-input, form-input" as password_error_class %}

{% if messages|length > 0 %}
  <div 
  class="fixed top-5 right-5 z-50"
  
  >
    {% for message in messages %}
      {% include 'elements/_Toast.html' with message=message %}
    {% endfor %}
  </div>
{% endif %}

<div class="relative form-bg p-3 md:p-8 max-w-2xl #mx-auto min-w-full md:min-w-[500px] overflow-hidden z-0">

  <h3 class="text-2xl font-bold mb-8 text-center">
  بازیابی رمز عبور
  </h3>
  
  
  <div class="flex items-center gap-2">
    <span class="self-start">
    {% include 'elements/_Icon.html' with icon_name='tick-circle' classes='text-green-400' %}
    </span>
    <p class="text-lg text-center text-gray-400 mb-6">
    کدی که به ایمیل you@example.com ارسال شده را وارد کنید و رمز جدید خود را تنظیم کنید.
    </p>
  </div>


  <form 
  method="post"
  action="{% url 'users:reset-password-view' %}"
  class="flex flex-col gap-4"
  novalidate
  x-init="init()"
  x-data="otpForm(6)"
  @submit="combineOtp()"
  >
    {% csrf_token %}

    {% comment %} we use this to know what action to take: create or update {% endcomment %}
    <input type="hidden" name="action" value="reset-password">

    <div class="flex flex-col gap-2" dir="ltr">
      <div class="flex gap-3 mb-3"> 
        
        <template 
        x-for="(digit, index) in otp"
        :key="index"
        >
          
          <input 
          :id="index"
          type="text" 
          maxlength="1"
          class="flex-1 bg-gray-50 border border-gray-300 text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 {{ classes }} form-input text-center" 
          autocomplete="off"
          :name="'otp_' + index"
          autocorrect="off"
          spellcheck="false"

          x-model="otp[index]"
          x-init="setRef($el, index)"
          @input="onInput(index, $event)"
          @keydown.backspace="onBackspace(index, $event)"
          />
        </template>
        
      </div>
      {% comment %} hidden input for otp {% endcomment %}
      <input type="hidden" name="otp" id="otp-full" :value="otp.join('')" />

      {% if form.otp.errors %}
        {% for error in form.otp.errors %}
          <span class="text-red-500 text-sm">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
    </div>

    {% comment %} otp timer {% endcomment %}
    {% include 'elements/_OtpTimer.html' with otp_expiry_time=otp_expiry_time %}

    <div class="mb-5 flex flex-col gap-2">
      {% include 'elements/_Label.html' with title="رمز عبور جدید" for='password' %}
      {% include 'elements/_Input.html' with id='password' type='password' name='password' placeholder='رمز عبور جدید' required=True autocomplete="new-password" classes=password_error_class icon="user-2" value="{{ form.password.value }}"  %}

      {% if form.password.errors %}
        {% for error in form.password.errors %}
          <span class="text-red-500 text-sm">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
    </div>

    <div class="mb-5 flex flex-col gap-2">
      {% include 'elements/_Label.html' with title="تکرار رمز عبور" for='repeat_password' %}
      {% include 'elements/_Input.html' with id='repeat_password' type='password' name='repeat_password' placeholder='تکرار رمز عبور' required=True autocomplete="new-password" classes=password_error_class icon="user-2" value="{{ form.repeat_password.value }}"  %}

      {% if form.repeat_password.errors %}
        {% for error in form.repeat_password.errors %}
          <span class="text-red-500 text-sm">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
    </div>

    {% include 'elements/_Button.html' with type='submit' text='ارسال کد تایید' size='lg' classes="form-btn self-center"%}
  </form>

  {% comment %} background image {% endcomment %}
  <img src="{% static 'users/images/auth-bg.png' %}" alt="auth-bg" class="absolute -top-1/2 left-0 right-0 -z-10" />
</div>

<script type="text/javascript" defer>
  // this returns an object (alpineJS state)
  function otpForm(length) {

    //this is an alpineJs component
    return {
      otp: Array(length).fill(""),
      refs: {},

      setRef(el, index) {
        this.refs[index] = el;
      },

      init() {
        this.$nextTick(() => {
          this.refs?.[0]?.focus();
        });
      },

      combineOtp() {
        // This will be auto-populated in the hidden input via binding
      },

      onInput(index, event) {
        // digits only
        const value = event.target.value.replace(/[^0-9]/g, ""); 
        // set the right value in the right index
        this.otp[index] = value;

        if (value && index < this.otp.length - 1) {
          this.$nextTick(() => {
            this.refs?.[index + 1]?.focus();
          });
        }
      },

      // move to the previous input when backspace is pressed
      onBackspace(index, event) {
        // if the input is empty and we are not at the first index
        if (!this.otp[index] && index > 0) {
          this.$nextTick(() => {
            this.refs?.[index - 1]?.focus();
          });
        }
      },
    };
  }
</script>