
{% extends "users/layouts/users.layout.html" %}

{% comment %} title {% endcomment %}
{% block title %}{{ title }} | Home{% endblock %}
{% comment %} header_title {% endcomment %}
{% block header_title %}{{ title }}{% endblock %}

{% block auth_content %}
  <div class="flex flex-col gap-3">
    {% include 'users/components/_ForgotPassword.html' %}

    <a class="flex items-center gap-2 text-blue1 hover:text-blue1-light transition-all" href="{% url 'users:login-view' %}">
      
      {% include 'elements/_Icon.html' with icon_name='chevron-right' classes='' %}
      <span class="flex items-center gap-2">
      ورود با رمز عبور 
      </span>
    </a>
  </div>
{% endblock %}
